<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="video.xdownloader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".WadaliApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity

            android:name=".ui.Navigation"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity

            android:name=".ui.VideoListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_video_list"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".resetapi.DownloadService" />

        <activity
            android:name=".ui.dialog.TimeLineActivity"

            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.dialog.LikedPageVideos"

            android:configChanges="orientation|screenSize"></activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name=".utils.player.PlayerActivity"

            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".utils.player.SampleChooserActivity"


            android:configChanges="orientation|screenSize">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>


        <activity
            android:name=".extractor.xpress.DownloadActivity"
            android:theme="@style/AppTheme"
            android:excludeFromRecents="true"
            android:taskAffinity="">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>

        <receiver
            android:name=".extractor.xpress.DownloadFinishedReceiver"
            android:exported="true"
            android:process=".dlFinished">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>